<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Remotebricks</title>
</head>
<body>
    <h1>Remotebricks</h1>
    <h3>Link your ID by entering the below details</h3>
    <form action="/link" method="post">
        <label for="uname">Username:</label>
        <input type="text" id="uname" name="uname"><br><br>
        <label for="id_type">ID Type:</label>
        <input type="text" id="id_type" name="id_type"><br><br>
        <label for="id_num">ID Number:</label>
        <input type="text" id="id_num" name="id_num"><br><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>