<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>User Login</title>
</head>
<body>
    <h1>Remotebricks</h1>
    <h3>Enter your details</h3>
    <form action="/login" method="post">
        <label for="uname">Username:</label>
        <input type="text" id="uname" name="uname"><br><br>
        <label for="pwd">Password:</label>
        <input type="password" id="pwd" name="pwd"><br><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>
